<a href="https://colab.research.google.com/github/chaudhary0612/KNN-K-NearestNeighbors-/blob/master/KNN_ALGO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# K-Nearest Neighbor

. Fundamental Algorithim for Classification In Machine Learning.

. KNN need Labelled Data to learn.

. KNN belongs to Supervised Machine Learning Category.

. KNN is NON-PARAMETRIC (which means it does not make any underlying assumptions about the distribution of DATA).Else in simple words we can say that KNN doesn't depend on Kurtosis,Skewness to verify the distribution of the Data should be Linear because it is an CLASSIFICATION ALGO.

# What is K in KNN?

.In K means algorithm, for each test data point, we would be looking at the K nearest training data points and take the most frequently occurring classes and assign that class to the test data. Therefore, K represents the number of training data points lying in proximity to the test data point which we are going to use to find the class.

# How KNN Works?

. Knn works based on minimum distance from the query instance to the trianing samples to determine the K-NEAREST NEIGHBORS.

# Finding 1-NEAREST NEIGHBOR

. First take an Data Point let's say X(is a data point) need to classify.

.Second step,Draw an circle with respect to Data Point X.

.Third,Point which is near to Data point(X) within the circle will be an Nearest Neighbor for Data point X.


# Same Process to be Followed to fine N-NEAREST NEIGHBORS and Overall KNN is Computationally Costly as we need to compute distance of each query instance to all training samples.

.

# Pros Of KNN

. Simple to Implement.

. Flexible to Feature/distance choices.

. Naturally handles multi-class cases.

. Can do well in practice with enough representative Data.

# Cons Of KNN

. Need to determine value of Parameter K(no. of Nearest Neighbors).

.Compitation Cost is high.

.Storage of Data.

.Must KNown we have a meaningful distance function.

# Popular Use Case of KNN

.Concept Search::Searching for sementically similar documents.

. Recommender Syste::If you know a user likes a particular item, then you can recommend similar items for them. To find similar items, you compare the set of users who like each item—if a similar set of users like two different items, then the items themselves are probably similar!

. Facial Recognition and Finger print detection.

# K Nearest Neighbours — Pseudocode
1. Load the training and test data.

2. Choose the value of K.

3. For each point in test data:

       - find the Euclidean distance to all training data points.
       
       - store the Euclidean distances in a list and sort it.
       
       - choose the first k points.
       
       - assign a class to the test point based on the majority of classes present in the chosen points.
       
4. End.

In [20]:
# Importing Data in google colab

from google.colab import files
uploading=files.upload()

Saving mtcars.csv to mtcars (1).csv

In [22]:
# Intialising Data

import pandas as pd
data=pd.read_csv('mtcars.csv')
data.head(5)  # Displaying first 5 Data set from mtcars.csv

,car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1

In [23]:
data.tail()  # Displaying last five data Set from mtcars.csv

,car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.5,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.5,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.6,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.6,1,1,4,2

In [0]:
# Let's classify which car is Manual and which car is Automatic.
# which Means AM is our Target variable
# Let's take our predictor variable as mpg,wt,hp(we can take nay of them to predict let's start with this three)

In [0]:
# Importing Libraries to use KNN

import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier # importing KNN
from sklearn.model_selection import train_test_split # import train_test_split to split training and testing data
from sklearn.preprocessing import scale
from sklearn.metrics import confusion_matrix,classification_report

In [26]:
# Let's check any empty set of value
data.isnull().sum()

# 0 means no empty value found and vice versa

car_model    0
mpg          0
cyl          0
disp         0
hp           0
drat         0
wt           0
qsec         0
vs           0
am           0
gear         0
carb         0
dtype: int64

In [0]:
X=data.loc[:,['mpg','wt','hp']] # predictor variables or else help of predictor variables target variables is predicted.
y=data.loc[:,'am'] # target variable or else to find?

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=10)

In [49]:
X_test.head()

     mpg     wt   hp
20  21.5  2.465   97
7   18.1  3.460  105
5   18.1  3.460  105
2   22.8  2.320   93
3   21.4  3.215  110

In [50]:
y_test.head()

20    0
7     0
5     0
2     1
3     0
Name: am, dtype: int64

In [51]:
# Calling Model and let's say neighbors=2 is given if not we have to find neghbors using K-ELBOW Technique.
model = KNeighborsClassifier(n_neighbors=2)
model.fit(X_train, y_train)
y_predict = model.predict(X_test)
from sklearn.metrics import accuracy_score, classification_report
print(accuracy_score(y_test, y_predict))
pd.crosstab(y_test, y_predict)
print(classification_report(y_test,y_predict))
confusion_matrix=(y_test,y_predict)

0.7
              precision    recall  f1-score   support

           0       0.83      0.71      0.77         7
           1       0.50      0.67      0.57         3

   micro avg       0.70      0.70      0.70        10
   macro avg       0.67      0.69      0.67        10
weighted avg       0.73      0.70      0.71        10

In [0]:
# Before Scaling or standardistaion accuracy is 70% so agter Scaling accuracy will increase.
 #for scaling include from sklearn.preprocessing import scale
# and also include X=scale(X)
# Then you can see accuracy score will increase upto 10%.

In [56]:
# Importing above libraries and see the result below

X=data.loc[:,['mpg','wt','hp']] # predictor variables or else help of predictor variables target variables is predicted.
y=data.loc[:,'am'] # target variable or else to find?
X=scale(X)

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=10)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by the scale function.
  after removing the cwd from sys.path.

In [59]:
# Calling Model and let's say neighbors=2 is given if not we have to find neghbors using K-ELBOW Technique.
import numpy as np
model = KNeighborsClassifier(n_neighbors=2)
model.fit(X_train, y_train)
y_predict = model.predict(X_test)
from sklearn.metrics import accuracy_score, classification_report
print(accuracy_score(y_test, y_predict))
pd.crosstab(y_test, y_predict)
print(classification_report(y_test,y_predict))
confusion_matrix=(y_test,y_predict)

0.8
              precision    recall  f1-score   support

           0       0.86      0.86      0.86         7
           1       0.67      0.67      0.67         3

   micro avg       0.80      0.80      0.80        10
   macro avg       0.76      0.76      0.76        10
weighted avg       0.80      0.80      0.80        10

In [60]:
y_test.head()

20    0
7     0
5     0
2     1
3     0
Name: am, dtype: int64